<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjET8zreCfze64xAzur3uijjU227Y-X3s</string>
	<key>GCM_SENDER_ID</key>
	<string>808820460405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clientServer</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-6d3b7</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-6d3b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808820460405:ios:1ef6d524de60ffacba213c</string>
</dict>
</plist>